@use '../common' as *;
@use '../themes/light/themes' as *;

$theme: $material;
$inset-shadow-width: #{rem(1px)};

:host {
    position: relative;
    display: inline-flex;
    flex: 1 0 0;
    align-items: center;
    padding: 0 $ig-cells-padding;
    color: inherit;
    border-right: rem(1px) solid transparent;
    font-size: rem(13px);
    overflow-wrap: anywhere;

    &:last-of-type {
        border-right: 0;
    }
}

:host([active]) {
    outline: none;
    box-shadow: inset 0 0 0 $inset-shadow-width var-get($theme, 'cell-active-border-color');
	color: var-get($theme, 'cell-selected-text-color');
	background: var-get($theme, 'cell-selected-background');
}

:host(:last-child) {
    border-inline-end: none;
}

[part~="text"] {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

igc-input {
	position: absolute;
	left: 0;
	height: calc(100% - ($inset-shadow-width * 2));
	width: 100%;
}

igc-input,
igc-select {
	&::part(container) {
		height: calc(100% - ($inset-shadow-width * 2));
		
		&::before {
			box-shadow: none;
		}
	}
	
	&::part(container),
	&::part(input) {
		box-shadow: none;
		height: 100%;
		background: inherit;
		border: 0;
		color: inherit;
		font-size: rem(13px);
	}
	
	&::part(helper-text),
	&::part(container) {
		&::after {
			display: none;
		}
	}
}
